<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jean Pierre van Driel - Portfolio</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollToPlugin.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/ScriptsLOs.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/StyleLOs.css') }}">
</head>
<body>
    <header id="masthead" class="site-header" role="banner">
      <nav class="anchor-nav" role="navigation">
        <li class="anchor"><a href="{{ url_for('index') }}">Home</a></li>
        <li class="anchor"><a href="{{ url_for('lo1') }}">LO1</a></li>
        <li class="anchor"><a href="{{ url_for('lo2') }}">LO2</a></li>
        <li class="anchor"><a href="{{ url_for('lo3') }}">LO3</a></li>
        <li class="anchor"><a href="{{ url_for('lo4') }}">LO4</a></li>
        <li class="anchor"><a href="{{ url_for('lo5') }}">LO5</a></li>
      </nav>
    </header>
    <main>
      <div class="container" data-scroll="container">
        <section class="section" data-scroll="section" id="main-page">
                <div class="page">
                  <p class="text"> 
                        <span class="text__first">
                            <span class="text__word">Interactive</span>
                            <span class="text__first-bg">
                            </span>
                        </span>
                        <br/>
                        <span class="text__second">
                            <span class="text__word">Media Products</span>
                            <span class="text__second-bg">
                            </span>
                        </span>
                    </p>
                    
                    <div class="scroll-down">SCROLL</div>
        </section>
        <section class="section" data-scroll="section" id="about">
          <div class="overlay-text"> PROJECT 1</div>
          <div class="content">
            <div> 
              <h2> Project X / Testing Methods</h2>
              <p> For project X, i had the idea of working with a client, so i desgined the website for a restaurant that a friend of mine will open in a couple months, i liked this idea because i know how perfectionist and strict he is in regards to work, and felt this experience would give me a real life experience on web design. <br>
              In order to have a website that was liked by my client, i had to perform a lot of testing with users and also gather information from the client, here is a detailed guide of all the things i did: <br>
             </p>
            </div>
            <div class="link"><a href="../static/pdf/Project X _ Research Methods.pdf" target="_blank">Project X / Testing Methods PDF</a></div> 
          </div> 
        </section>
        <section class="section" data-scroll="section">
          <img class="image" src="{{ url_for('static', filename='images/ProjectXresearch.png') }}" alt="portrait snow" data-scroll="image" data-intensity="0.5" />
          </section>
          <section class="section" data-scroll="section" id="portfolio">
            <div class="overlay-text"> DEVELOPMENT</div>
            <div class="content2">
              <div>
            <h2>AI Chatbot / Relevant Tech </h2>
            <p>Interactive media products, mentions being oriented in relevant tech, and AI is currently the biggest tech trend there is, and what better way to have users interact with the website than through an AI customer service bot for quick answers.  <br>
              This project had a large testing cycle with different prompts until i found a final one that was relevant and smart for the website.<br>
              More information on the trends for this testing process here: <br>
            </p>
            </div>
            <div class="link"><a href="../static/pdf/AI Chatbot _ Current Trends_.pdf" target="_blank">Portfolio / AI Chatbot testing</a></div>
          </div>
        </section>
        <section class="section" data-scroll="section">
          <img class="image" src="../static/images/BotProcess.png" alt="portrait snow" data-scroll="image" data-intensity="0.5" />
          </section>
      </div>
    </main>
  </body>
</html>


