<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LO1</title>
    <link rel="stylesheet" href="../static/css/StyleLOs.css">
</head>
<body>
    <header>
        <h1>Learning Outcome 1: Media Interactive Products</h1>
    </header>
    <main>
        <section class="projects">
            <div class="project">
                <img src="../static/images/HiddenSpots.png" alt="Project 1 Image">
                <div class="project-info">
                    <h2>Media Campaign-Hidden spots</h2>
                    <p>Project about a media campaign to drive traffic to the website exploreBreda.nl. In this project i came up with the idea of AI generated art QR codes, also made SEO research on the most searched subjects regarding Breda and lastly i came up with the idea for the 
                      "Hidden Spots" Campaign, where people could upload their videos from their favorite places to the page and be published on the site's social networks. I also designed the website for this idea.
                      Explanation for achieved Learning Outcome: This project involved user research, brand identity creation, website design iteration, and logo design iteration for an artist named Natalie. By developing and testing interactive elements like the website and logo with users, you demonstrated a thorough understanding of creating and refining interactive media products.
                    </p>
                </div>
            </div>
            <div class="project">
              <img src="../static/images/windowHomeImage1.png" alt="YOUR_PROJECT_NAME Image">
              <div class="project-info">
                  <h2>EXAMPLE</h2>
                  <p>Short description.</p>
              </div>
          </div>
        </section>
    </main>
</body>
</html>
