<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Outcome 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleNavLOs.css') }}">
    <script src="https://use.typekit.net/ehh4lya.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-menu">
            <li class="navbar-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="navbar-item"><a href="{{ url_for('lo1') }}">LO1</a></li>
            <li class="navbar-item"><a href="{{ url_for('lo2') }}">LO2</a></li>
            <li class="navbar-item"><a href="{{ url_for('lo3') }}">LO3</a></li>
            <li class="navbar-item"><a href="{{ url_for('lo4') }}">LO4</a></li>
            <li class="navbar-item"><a href="{{ url_for('lo5') }}">LO5</a></li>
        </ul>
    </nav>

    <section class="section section--lo" id="lo2">
        <div class="section__inner">
            <div class="block">
                <h2>Learning Outcome 5</h2>
                <p class="lead">Personal Leadership</p>
                <div class="project">

                    <div class="project-text">
                        <h3>AI Chatbot</h3>
                        <p> I created a chatbot using the ChatGPT API for my portfolio which you can see at the end of the homepage. The chatbot answers questions about my portfolio and work, redirecting conversations back to relevant topics. This project involved taking the initiative to develop a unique tool to showcase my work, seeking feedback, and iterating on the design and functionality based on that feedback. Through this process, I identified my core values of innovation, user engagement, and clear communication, which have influenced my professional development and the direction of my study career.</p>
                    </div>
                </div>
                <div class="project">
                    <div class="project-text">
                        <h3>Flask Portfolio</h3>
                        <p> I took the initiative to code my portfolio using Flask to make the chatbot work, even though we had only learned HTML, CSS, and JavaScript up to that point. This decision demonstrated my willingness to go beyond the curriculum to enhance my skills. I researched and learned Flask independently, implemented it in my portfolio, and sought feedback to refine it. This experience showcased my commitment to personal growth, self-directed learning, and applying new technologies to improve my work.</p>
                    </div>
                </div>
    </section>
</body>
</html>